html {
  height: 100vh;
}

body {
  min-height: 100%;
  
  padding: 0 10px;
  margin: auto;
}

a {
  font-family: 'VT323';
}

img {
  width: 25%;
  margin: 30px auto 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 50px 0 25px;
  font-family: 'VT323';
  font-size: 50px;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'VT323';
  margin-bottom:30px;
  display: flex;
  justify-content: center;
}

p {
  margin-bottom: 20px;
  color: white;
  font-family: 'VT323';
  font-size: 20px;
}

.button {
  display: inline-block;
  font-family: 'VT323';
  
  padding: 5px;
  margin-bottom: 20px;
  background: #CD5555;/*rgb(255, 185, 0);*/
  border: 2px solid brown;
  color: rgb(255, 214, 144);
  font-size: 18px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.button:onclick {
  border-top-color: #28597a;
  background: rgb(255, 214, 144);
  color: rgb(255, 185, 0);
}

.button:active {
  background: rgb(255, 214, 144);
  color: rgb(255, 185, 0);
}

.quoteSpace {
  position:relative;
  background: black;
  display: table; 
  text-align: center;
  margin: 0 auto 30px;
  width: 400px;
  height: 200px;
  min-height: calc(100vh*0.3);
  padding: 15px 15px 0px;
}
#tweetButton{
  position:absolute;
  top:155px;
  left:185px;
  margin:auto;
}

i {
  margin-top: auto;
  padding: 4px;
  color: white;
  border: 2px solid brown;
  text-align: right;
  background: #CD5555;
  color: rgb(255, 214, 144);
  text-align: center;
}

i:active{
  background: rgb(255, 214, 144);
  color: rgb(255, 185, 0);
}

footer {
  margin: 20px 4%;
  padding: 20px;
  border-top: 1px lightgrey solid;
  display: flex;
  justify-content: center;
}

#footerP {
  color: black;
  font-size: 15px;
}

@media only screen and (max-device-width: 480px) {
  .quoteSpace {
    
    width: 90%;
    height: 200px;
    margin:auto;
  }
  h2 {
    font-size: 20px;
    margin-bottom:20px;
  }
  
  #tweetButton{
  position:absolute;
  top:150px;
  left:45%;
  margin:auto;
  }
}